<a href="https://colab.research.google.com/github/RevSLightfoot/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

## 1) Load a dataset from UCI (via its URL)

In [0]:
# Basic imports!!!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

- Are the headers showing up properly?

  > Headers were absent.  List created and appended to dataset!

In [0]:
#  Dataset pulled from:
#    https://archive.ics.uci.edu/ml/datasets/Abalone
AbaloneDataUrl = 'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'

#  List for header row!
newHeaders = ['Sex', 'Length', 'Diameter', 'Height', 'WholeWeight', 
              'ShuckedWeight', 'VisceraWeight', 'ShellWeight', 'Rings']

#  Import data appending headers
abAges = pd.read_csv(AbaloneDataUrl, header=None, names=newHeaders)

- Look at the first 5 and the last 5 rows, do they seem to be in order?

  > Yep!

In [16]:
abAges.head()

  Sex  Length  Diameter  ...  VisceraWeight  ShellWeight  Rings
0   M   0.455     0.365  ...         0.1010        0.150     15
1   M   0.350     0.265  ...         0.0485        0.070      7
2   F   0.530     0.420  ...         0.1415        0.210      9
3   M   0.440     0.365  ...         0.1140        0.155     10
4   I   0.330     0.255  ...         0.0395        0.055      7

[5 rows x 9 columns]

In [17]:
abAges.tail()

     Sex  Length  Diameter  ...  VisceraWeight  ShellWeight  Rings
4172   F   0.565     0.450  ...         0.2390       0.2490     11
4173   M   0.590     0.440  ...         0.2145       0.2605     10
4174   M   0.600     0.475  ...         0.2875       0.3080      9
4175   F   0.625     0.485  ...         0.2610       0.2960     10
4176   M   0.710     0.555  ...         0.3765       0.4950     12

[5 rows x 9 columns]

- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
 
  > Accounting for the column difference of 1, all good!

In [18]:
abAges.shape

(4177, 9)

- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?

- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.

  > No, null vals detected.

In [19]:
abAges.isnull().sum()

Sex              0
Length           0
Diameter         0
Height           0
WholeWeight      0
ShuckedWeight    0
VisceraWeight    0
ShellWeight      0
Rings            0
dtype: int64


 > Checking for any funky string errs in data akin to the " ?" example from lecture by identifying what features hold strings, then viewing all unique values for anything suspect.

In [20]:
abAges.dtypes

Sex               object
Length           float64
Diameter         float64
Height           float64
WholeWeight      float64
ShuckedWeight    float64
VisceraWeight    float64
ShellWeight      float64
Rings              int64
dtype: object

In [21]:
abAges['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [22]:
abAges.describe()

            Length     Diameter  ...  ShellWeight        Rings
count  4177.000000  4177.000000  ...  4177.000000  4177.000000
mean      0.523992     0.407881  ...     0.238831     9.933684
std       0.120093     0.099240  ...     0.139203     3.224169
min       0.075000     0.055000  ...     0.001500     1.000000
25%       0.450000     0.350000  ...     0.130000     8.000000
50%       0.545000     0.425000  ...     0.234000     9.000000
75%       0.615000     0.480000  ...     0.329000    11.000000
max       0.815000     0.650000  ...     1.005000    29.000000

[8 rows x 8 columns]

## 2) Load a dataset from your local machine.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving poker-hand-testing.data to poker-hand-testing.data
Saving poker-hand-training-true.data to poker-hand-training-true.data

In [28]:
#  Dataset pulled from:
#    https://archive.ics.uci.edu/ml/datasets/Poker+Hand

#  Assign both sets to vars and checking shape of each:

pokerTesting = pd.read_csv('poker-hand-testing.data')
pokerTraining = pd.read_csv('poker-hand-training-true.data')

print(pokerTesting.shape)
print(pokerTraining.shape)

(999999, 11)
(25009, 11)

- Are the headers showing up properly?

  > Headers were absent.  List created and appended to dataset!

In [0]:
#  Create headers for features:

newHeaders = []
for i in range(1,6):
  newHeaders.append('suit ' + str(i))
  newHeaders.append('rank ' + str(i))
newHeaders.append('Poker Hand')

#  Assign headers and merge!

pokerTesting = pd.read_csv('poker-hand-testing.data', names=newHeaders)
pokerTraining = pd.read_csv('poker-hand-training-true.data', names=newHeaders)
pokerDf = pd.concat([pokerTesting, pokerTraining], ignore_index=True)

In [30]:
pokerDf.shape

(1025010, 11)

- Look at the first 5 and the last 5 rows, do they seem to be in order?

  > Yep!

In [31]:
pokerDf.head()

   suit 1  rank 1  suit 2  rank 2  ...  rank 4  suit 5  rank 5  Poker Hand
0       1       1       1      13  ...       3       1      12           0
1       3      12       3       2  ...       5       2       5           1
2       1       9       4       6  ...       2       3       9           1
3       1       4       3      13  ...       1       3       6           1
4       3      10       2       7  ...      11       4       9           0

[5 rows x 11 columns]

In [32]:
pokerDf.tail()

         suit 1  rank 1  suit 2  rank 2  ...  rank 4  suit 5  rank 5  Poker Hand
1025005       3       9       2       6  ...      12       2       4           0
1025006       4       1       4      10  ...       4       1      10           1
1025007       2       1       2      10  ...       1       4      13           1
1025008       2      12       4       3  ...      12       4       9           1
1025009       1       7       3      11  ...       8       3       7           1

[5 rows x 11 columns]

- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
 
  > All good!

In [33]:
pokerDf.shape

(1025010, 11)

- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?

- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.

  > No, null vals detected.

In [35]:
pokerDf.isnull().sum()

suit 1        0
rank 1        0
suit 2        0
rank 2        0
suit 3        0
rank 3        0
suit 4        0
rank 4        0
suit 5        0
rank 5        0
Poker Hand    0
dtype: int64


 > All types are ints!

In [36]:
pokerDf.dtypes

suit 1        int64
rank 1        int64
suit 2        int64
rank 2        int64
suit 3        int64
rank 3        int64
suit 4        int64
rank 4        int64
suit 5        int64
rank 5        int64
Poker Hand    int64
dtype: object

- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [38]:
#  Defaulted to scientific notation, rounding for the time being for readability!
pokerDf.describe().round()

          suit 1     rank 1     suit 2  ...     suit 5     rank 5  Poker Hand
count  1025010.0  1025010.0  1025010.0  ...  1025010.0  1025010.0   1025010.0
mean         3.0        7.0        2.0  ...        2.0        7.0         1.0
std          1.0        4.0        1.0  ...        1.0        4.0         1.0
min          1.0        1.0        1.0  ...        1.0        1.0         0.0
25%          2.0        4.0        1.0  ...        1.0        4.0         0.0
50%          3.0        7.0        2.0  ...        2.0        7.0         0.0
75%          3.0       10.0        4.0  ...        4.0       10.0         1.0
max          4.0       13.0        4.0  ...        4.0       13.0         9.0

[8 rows x 11 columns]

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
# Your Code Here

## 4) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

In [0]:
# Your Code Here

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.